html,
body {
display: block;
font-family: Arial;
height: 100%;
margin: 0;
text-align: center;
text-transform: uppercase;
}
#splash,
#content {
display: table;
height: 100%;
width: 100%;
}
#content p {
display: table-cell;
vertical-align: middle;
font-size:50px !important;
font-family: 'Nunito', sans-serif;
margin-top:35% !important;
word-wrap: break-word;
}
/***This code is used for sowing the splash for 5 second over the content div****/
#splash {
background:#0080ff;
position : fixed;
-moz-animation: cssAnimation 0s ease-in 5s forwards;
/* Firefox */
-webkit-animation: cssAnimation 0s ease-in 5s forwards;
/* Safari and Chrome */
-o-animation: cssAnimation 0s ease-in 5s forwards;
/* Opera */
animation: cssAnimation 0s ease-in 5s forwards;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
}
#splash h1
{
font-size:50px !important;
font-family: 'Nunito', sans-serif;
text-align:center;
margin-top:25%;
color:white;
}
/****This code is used for hiding the h1 of splash div*****/
#hideme {
-moz-animation: cssAnimation 0s ease-in 5s forwards;
/* Firefox */
-webkit-animation: cssAnimation 0s ease-in 5s forwards;
/* Safari and Chrome */
-o-animation: cssAnimation 0s ease-in 5s forwards;
/* Opera */
animation: cssAnimation 0s ease-in 5s forwards;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
}
#content
{
font-size:50px;
width:100%;
height:100%;
background-color:gray;
}
html, body {
height:100%;
width:100%;
margin:0;
padding:0;
}
@keyframes cssAnimation {
to {
width:0;
height:0;
overflow:hidden;
}
}
@-webkit-keyframes cssAnimation {
to {
width:0;
height:0;
visibility:hidden;
}
}
